.App {
  text-align: center;
}

.App-header {
  font-size: 200px;
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
}

.card {
    border: 1px solid #eceaea;
    border-radius: 8px;
    height: 300px;
    width: 300px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}